<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div id="container"><a href="/"><div id="header"></div></a>
<div class="menu">
<h3>Individual Team Records</h3>


	<ul>
<%info_output.each do |team|%>
	<li><%=team%></li>
	<%end%>
</ul>

</div>

<div class="content">



	<a href="/<%=graph_name%>"><img src="/<%=graph_name%>" height="413" width="550"></a>

</div>	<div class="footer">
</div>
</div>

</body>
</html>

</body>
</html>